.my-logo {
    display: flex;
    color :white;
    flex: 0 0 250px;
    padding: 3px 0;
    margin-right: 15px;
    line-height: 16px;

    .logo-container {
        img {
            max-width: 40px;
        }
    }

    .text-container {
        margin-top: 4px;
        margin-left: 5px;
    }
}
